<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IDEA.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
	<connectionStrings>
  <add name="IDEAEntities" connectionString="metadata=res://*/Model.IDEA.csdl|res://*/Model.IDEA.ssdl|res://*/Model.IDEA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\KWZP2024;initial catalog=IDEA;user id=sa;password=1qazXSW@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="IDEA.App.Properties.Settings.IDEAConnectionString"
   connectionString="Data Source=.\KWZP2024;Initial Catalog=IDEA;Persist Security Info=True;User ID=sa;Password=1qazXSW@;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <IDEA.App.Properties.Settings>
      <setting name="test" serializeAs="String">
        <value />
      </setting>
    </IDEA.App.Properties.Settings>
  </userSettings>
</configuration>

<!--Standardowy:-->
<!--<add name="IDEAEntities" connectionString="metadata=res://*/Model.IDEA.csdl|res://*/Model.IDEA.ssdl|res://*/Model.IDEA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\KWZP2023;initial catalog=IDEA;user id=sa;password=1qazXSW@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

<!--<add name="IDEAEntities" connectionString="metadata=res://*/Model.IDEA.csdl|res://*/Model.IDEA.ssdl|res://*/Model.IDEA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C8C730C;initial catalog=IDEA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
